@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Protest+Revolution&display=swap');


@keyframes wobble {
    0% {
      transform: rotateZ(0deg);
    }
    25% {
      transform: rotateZ(-1deg);
    }
    75% {
      transform: rotateZ(1deg);
    }
    100% {
      transform: rotateZ(0deg);
    }
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #EEEEEE;
}


.container-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0;
    height: fit-content;
}

.whole-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    padding-bottom: 400px;
}


.wrapper2 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.event-title {
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.event-title h1 {
    padding: 50px;
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6em;
}

.event-title p {
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
    animation: wobble 2s ease-in-out infinite;
    animation-delay: 5s;
}

.container {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card {
    width: 80px;
    border-radius: 2rem;
    background-size: cover;
    overflow: hidden;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28, -0.03, 0, 0.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.card > .row > .icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description h4 {
    text-transform: uppercase;
}

.description h4 a{
    text-decoration: none;
}

.description h4 a:visited {
    color: #fff;
}

input{
    display: none;
}

input:checked + label {
    width: 600px;
}

input:checked + label .description {
    opacity: 1 !important ;
    transform: translateY(0) !important;
}

.card[for="c1"]{
    background-image: url("event-images/Solo-events/Solo-dance.jpg");
}

.card[for="c2"]{
    background-image: url("event-images/Solo-events/Singing.jpg");
}

.card[for="c3"]{
    background-image: url("event-images/Solo-events/Yoga.jpg");
}

.card[for="c4"]{
    background-image: url("event-images/Solo-events/As-you-like-it.jpg");
}

.card[for="c5"]{
    background-image: url("event-images/Solo-events/Instrumental.jpg");
}

.card[for="c6"]{
    background-image: url("event-images/Solo-events/Pixie.jpg");
}

.card[for="c7"]{
    background-image: url("event-images/Solo-events/Ezhuthaani.jpg");
}

.card[for="c8"]{
    background-image: url("event-images/Solo-events/Drawing.jpg");
}

.card[for="c9"]{
    background-image: url("event-images/Solo-events/Best-manager.jpg");
}

.card[for="g1"]{
    background-image: url("event-images/Group-events/Group-dance.jpg");
}
.card[for="g2"]{
    background-image: url("event-images/Group-events/Drama.jpg");
}
.card[for="g3"]{
    background-image: url("event-images/Group-events/Rangoli.jpg");
}
.card[for="g4"]{
    background-image: url("event-images/Group-events/Radio-mirchi.jpg");
}
.card[for="g5"]{
    background-image: url("event-images/Group-events/Sherlock-holmes.jpg");
}
.card[for="g6"]{
    background-image: url("event-images/Group-events/Quiz.jpg");
}
.card[for="g7"]{
    background-image: url("event-images/Group-events/Treasure-hunt.jpg");
}
.card[for="g8"]{
    background-image: url("event-images/Group-events/Lyrical-hunt.jpg");
}
.card[for="g9"]{
    background-image: url("event-images/Group-events/Poster-making.jpg");
}
.card[for="g10"]{
    /* background-image: url("event-images/Group\ events/Best-manager.jpg"); */
    background: black;
}
.card[for="g11"]{
    /* background-image: url("event-images/Group\ events/Best-manager.jpg"); */
    background: black;
}
.card[for="g12"]{
    /* background-image: url("event-images/Group\ events/Best-manager.jpg"); */
    background: black;
}
