@media screen and (max-width : 1000px){

    .parallax{
        display: none;
    }
    .event-title h1 {
        font-size: 5em;
    }
}

@media screen and (max-width : 900px){   
    
    .wrapper-home .container-home .College h1 {
        padding: 30px;
        font-size: 3vw;
    }

    .wrapper-home .container-home .container-text1 {
        flex-direction: column-reverse;
        padding: 20px;
    }

    .wrapper-home .container-home .container-text1 h2{
        padding: 20px;
        margin-left: -20%;
        font-size: 3.5vw;
    }

    .wrapper-home .container-home .container-text1 h3{
        font-size: 3.5vw;
    }

    .wrapper-home .container-home .container-text2 h2{
        font-size: 3.5vw;
    }

    .wrapper-home .container-home .container-text3 h2{
        font-size: 3.5vw;
    }

    .wrapper-home .container-home .container-text4 h2{
        font-size: 3.5vw;
    }

    .container-style h2{
        font-size: 4vw;
    }

    .container-style h3 {
        transform: rotate(0deg);
    }
}

@media screen and (max-width : 650px){
    .event-date {
        display: contents;
    }

    .event-date h2{
        font-family: "Protest Revolution", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-shadow: 2px 2px red;    
    }

    .whole-container {
        margin-top: 100px;
    }

    .ink-image {
        display: none;
    }

    .event-title h1 {
        font-size: 2.5em;
    }

    .card {
        width: 300px;
    }

    .card > .row > .description > .faculty{
        display: none;
    }

    .parallax{
        display: none;
    }
        
    .wrapper-home > .container-home > .fiesta-text > h1 {
        display: none;
    }

    .wrapper-home {
        display: none;
    }

    .logo {
        color: #000;
    }

    .card > .row > .description > h4 {
        transform: translateY(12px);
        opacity: 1;
    }
}