@media screen and (max-width : 1500px ){
    
    /* body {
        min-height: 200vh;
    } */

    .container {
        margin-top: 100px; 
        flex-direction: column;
    }

    .wrapper {
        width: 50vw;
    }

    .image-container {
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width : 800px){
    
    
    /* Alter the Header */

    /* body {
        min-height: 180vh;
    } */

    .container {
        padding: 30px 20px;
        margin-top: 150px;
    }

    .event-name > p {
        padding: 20px 0;
        font-size: 0.7em;
    }
    .wrapper {
        width: 85vw;
    }
    .image-container {
        width: 200px;
        height: 200px;
    }
    header {
        flex-direction: column;
        gap: 30px;
        padding: 30px 0px;
    }

    .hideOnMobile {
        display: none;
    }
    
    .navigation a {
        color: #fff;
    }

    .navigation a:hover,
    .navigation a.active {
        color: #333;
    }

    .navigation a span{
        background: #fff;
    }
}